.meus-filmes {
    display: flex;
    flex-direction: column;
    margin: 14px auto;
    max-width: 800px;
    align-items: center;
}

.meus-filmes h1 {
    margin-bottom: 14px;

}

.meus-filmes p {
    font-size: 14px;
}

.meus-filmes ul {
    list-style: none;
    max-width: 720px;
    width: 100%;
}

.meus-filmes ul li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 0px .2rem;

}

.meus-filmes div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes a {
    text-decoration: none;
    color: white;
    margin-right: 14px;
    background-color: #116FEB;
    padding: .3rem;
    border-radius: 4px;
    font-size: .9rem;
}

.meus-filmes button {
    text-decoration: none;
    color: white;
    margin-right: 4px;
    background-color: #116FEB;
    padding: .3rem;
    border-radius: 4px;
    font-size: .9rem;
}