* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

.app {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .lista-filmes article strong { 
    font-size: 1.2rem;
  }
  
}